<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>SUPublicEDKey</key>
	<string>IqF8iTqBB5iobrxpKyd6RC5X80tBCrFpE58UoV333yI=</string>
	<key>SUFeedURL</key>
	<string>https://your_github_username.github.io./your_repository_name/appcast.xml</string>
</dict>
</plist>
